<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
<html>

<!--Includes-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!--Main Game Files-->
<script src="scripts/init.js"></script>
<script src="scripts/run.js"></script>
<script src="scripts/phrases.js"></script>


<!--Stylesheets-->
<link rel="stylesheet" type="text/css" href="styles/desktop.css" />

<body ng-app="BINGO">
<div id="Main" ng-controller="BingoController" >
<div id="Card" ng-controller="CardController">
	<table>
	<tr id="CardHead">
	<th>B</th>
	<th>I</th>
	<th>N</th>
	<th>G</th>
	<th>O</th>
	</tr>
	<tr>
	<td id="cell-0"></td>
	<td id="cell-5"></td>
	<td id="cell-10"></td>
	<td id="cell-15"></td>
	<td id="cell-20"></td>
	</tr>
	<tr>
	<td id="cell-1"></td>
	<td id="cell-6"></td>
	<td id="cell-11"></td>
	<td id="cell-16"></td>
	<td id="cell-21"></td>
	</tr>
	<tr>
	<td id="cell-2"></td>
	<td id="cell-7"></td>
	<td id="cell-12">X</td>
	<td id="cell-17"></td>
	<td id="cell-22"></td>
	</tr>
	<tr>
	<td id="cell-3"></td>
	<td id="cell-8"></td>
	<td id="cell-13"></td>
	<td id="cell-18"></td>
	<td id="cell-23"></td>
	</tr>
	<tr>
	<td id="cell-4"></td>
	<td id="cell-9"></td>
	<td id="cell-14"></td>
	<td id="cell-19"></td>
	<td id="cell-24"></td>
	</tr>
	</table>
</div>

<div id="Names" ng-controller="NamesController">
	<ul>
	<li id="Name-B" class="NameHeader">B</li>
	<li ng-repeat="(index,phrase) in Phrases.slice(0,5)" id="Name-{{phrase.Index}}" data-num='{{phrase.Index}}' ng-class="{Found: phrase.Found == 1}" ng-click="Click($event)">{{phrase.Phrase}}</li>
	<li id="Name-I" class="NameHeader">I</li>
	<li ng-repeat="(index,phrase) in Phrases.slice(5,10)" id="Name-{{phrase.Index}}" data-num='{{phrase.Index}}' ng-class="{Found: phrase.Found == 1}" ng-click="Click($event)">{{phrase.Phrase}}</li>
	<li id="Name-N" class="NameHeader">N</li>
	<li ng-repeat="(index,phrase) in Phrases.slice(10,15)" id="Name-{{phrase.Index}}" data-num='{{phrase.Index}}' ng-class="{Found: phrase.Found == 1}" ng-click="Click($event)">{{phrase.Phrase}}</li>
	<li id="Name-G" class="NameHeader">G</li>
	<li ng-repeat="(index,phrase) in Phrases.slice(15,20)" id="Name-{{phrase.Index}}" data-num='{{phrase.Index}}' ng-class="{Found: phrase.Found == 1}" ng-click="Click($event)">{{phrase.Phrase}}</li>
	<li id="Name-O" class="NameHeader">O</li>
	<li ng-repeat="(index,phrase) in Phrases.slice(20,25)" id="Name-{{phrase.Index}}" data-num='{{phrase.Index}}' ng-class="{Found: phrase.Found == 1}" ng-click="Click($event)">{{phrase.Phrase}}</li>
	</ul>
</div>

</div>
</body>

</html>