/* General*/
*{
padding:0;
margin:0;
font-size: 1.05em;
}

#Main{
	width: 100%;
	position: absolute;

}
#Main.Bingo{
	background-color: #9F9;
}

/* Main Card*/
#Card table{
	margin-left:auto;
	margin-right:auto;
}

#Card td, #Card th{
	border: 1px solid black;
	height: 2em;
	width: 2em;
	text-align: center;
}

#Card .head th{
	font-weight:bold;
	color: blue;
}

#Card td.Found:after{
	content:'X';
}

/* Name List */

#Names li{
	padding: 5px;
	border: 1px solid black;
	margin: 5px;
	text-align: center;
	    list-style-type: none;
}

#Names li.Found{
	background-color: gray;
}

#Names li.NameHeader{
	background-color: lightgray;
	font-weight:bold;
	font-size: 1.1em;
}
